{% extends 'base.html'  %}

{% block content %}

<h1>secret page for registered users</h1>

<h5>{{users.first_name ~ ' '~ users.last_name}} Details</h5>
    <ul>
        <li>{{users.username}}</li>
        <li>{{users.first_name ~ ' ' ~ users.last_name}}</li>
        <li> {{users.email}}</li>
    </ul>

    {% if session["username"] == users.username %}
    <form  action="/users/{{users.username}}/delete" method="POST">
      <button class="btn btn-sm btn-danger"> delete acc X</button>
    </form>
    <form action="/users/{{users.username}}/feedback/add">
        <button class="btn btn-success">Add feedback form</button>
    </form>
    {% endif %}

<div >
    <h5>{{users.username}}'s Feedback:</h2>
        <div class="card">
        {%for feedbacks in feedback %}
        <div class="card">
        <div class="card-body">
            <h5>{{feedbacks.user.username}}</h5>
            <p>{{feedbacks.title}}</p>
            <p>{{feedbacks.content}}</p>
            {% if session["username"] == users.username %}
            <form action="/feedback/{{feedbacks.id}}/update">
                <button>Edit Feedback</button>
            </form>
            <form action="/feedback/{{feedbacks.id}}/delete"method="POST">
                <button>Delete</button>
            </form>
            {% endif %}
        </div>
        </div>
        
        {%endfor%}
    </div>
</div>
  



{% endblock %}